.map {
    #map-display {
        color: var(--color-text);
        height: 400px;
        background-color: var(--color-background);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }
}