.map {

    .map-container {
        display: flex;
        justify-content: center;
        background-color: var(--color-background);
        border-radius: 8px;
        color: var(--color-text);

        #map-display {
            height: 300px;
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

canvas {
    image-rendering: pixelated;
    width: 100%;
    height: auto;
    margin-top: 10px;
}
