#ignoring .vscode folder but we keep some files for debuging
/.vscode/chrome
/.vs/

application/package-lock.json
.DS_Store

# Code Coverage Folder
application/coverage/

#Node Modules
application/node_modules

# Build
embedded_ws/build
embedded_ws/install
embedded_ws/log