<section class="control-panel">
    <h2>Panneau de Commande</h2>
    <div class="controls">
        <button id="start-mission" (click)="startMission()">Lancer la Mission</button>
        <button id="stop-mission" (click)="stopMission()">Arrêter la Mission</button>
        <button id="return-home" (click)="returnHome()">Retour à la Maison</button>
        <button id="update-software" (click)="updateSoftware()">Mettre à Jour</button>
    </div>
    <app-start-mission-popup *ngIf="showPopup" (startMission)="onMissionStart()"></app-start-mission-popup>
</section>