<div class="container">
    <header>
        <a href="/home">
            <h1>Système d'Exploration Multi-Robot</h1>
        </a>
        <nav>
            <ul>
                <li><a href="#">Paramètres</a></li>
                <li><a (click)="toggleTheme()">Changer le Thème</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <app-control-panel></app-control-panel>
        <app-status-display></app-status-display>
        <app-map-display></app-map-display>
        <app-logs-display></app-logs-display>
    </main>

    <footer>
        <h4 class="team-name">Équipe 107</h4>
        <p><span>Ely Cheikh ABASS</span>, <span id="css-king">Omar BENZEKRI</span>, <span>Abdul-Wahab CHAARANI</span>, <span>Thomas ROULEAU</span>, <span>Ivan SAMOYLENKO</span>, <span>Loïc NGUEMEGNE TEMENA</span></p>
    </footer>
</div>