:root, [data-theme='dark-theme'], [data-theme='light-theme'] {
    transition: all 0.3s ease-in-out;
}

:root {
    --color-primary: #3498db;
    --color-secondary: #b734db00;
    --color-tertiary: #5e34db8c;
    --color-background: #1c0946e7;
    --color-text: #cbcbcb;
    --footer-text: #888;
}

[data-theme='light-theme'] {
    --color-primary: #f8f9fa;
    --color-secondary: #d1e7dd00;
    --color-tertiary: #d7d7d7;
    --color-background: #ffffff;
    --color-text: #212529;
    --footer-text: #2d2d2d;
}

:root {
--primary-color: #191034;
--secondary-color: #424597;
--tertiary-color: #1c1656;
--quaternary-color: #393c7d;
--background-color: #1c0946e7;
--text-color: #cbcbcb;
}

[data-theme='light-theme'] {
--primary-color: #ffffff;
--secondary-color: #c8c8c8;
--tertiary-color: #b1b1b1;
--quaternary-color: #a3a3a3;
--background-color: #b9b9b9;
--text-color: #333333;
}

html,
app-root,
body {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: var(--primary-color);
    background-image: linear-gradient(135deg, var(--primary-color), var(--secondary-color), var(--tertiary-color), var(--quaternary-color));
    background-size: 300% 300%;
    background-repeat: no-repeat;
    animation: gradientAnimation 12s ease infinite;
    color: var(--text-color);
}

body::-webkit-scrollbar {
    display: none;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}