.options {
    width: 100%;
    user-select: none;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-quinary);
    border-radius: 50px;
    overflow: hidden;
}

.option {
    width: 50%;
    border: none;
    color: white;
    text-align: center;
    padding: 15px 0;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.option.selected {
    background-color: rgba(0, 0, 0, 0.1);
}

@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


h2 {
    margin-bottom: 0;
}

.popup-container {
    animation: appear 0.2s forwards;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000052;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2vmin;
    padding: 20px;
    border-radius: 15px;
    font-weight: bold;
    max-width: 500px;
    background-color: var(--color-quaternary);
    color: var(--color-text);
}

.launch-btn, .cancel-btn {
    background-color: var(--color-secondary);
    border: none;
    color: var(--color-text);
    padding: 10px 0px;
    border-radius: 5px;
    border: 2px solid var(--color-text);
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        transform: scale(1.02);
    }
    &:active {
        transform: scale(0.98);
    }
}

.launch-btn {
    width: 70%;
}

.cancel-btn {
    width: 25%;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    width: 30%;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
}

.robot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    width: 100%;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h3 {
    text-align: left;
}

h4 {
    margin: 0;
    text-align: justify;
    max-width: 260px;
    font-style: italic;
    font-size: x-small;
}